#gallery {
    margin: 15px;
}
.brick {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333;
    border: none;
    margin: 5px;
}
.brick img {
    width: 200px;
    display: block;
    margin: 0;
    padding: 0;
}